/*
 * Basics
 */
.mdb-mc-text {
	font-family: "DM Sans", sans-serif;
}

/*
 * MixesDB search link
 */
#mdb-searchLink-detailPage img {
    display: inline !important;
    padding-left: 12px;
}


/*
 * Action buttons
 */
.mdb-mc-text-white,
.mdb-actionLink {
	color: white;
}
.mdb-actionLink {
	font-size: 16px;
}
.mdb-tidSubmit img {
	max-height: 30px;
}


/*
 * Artwork
 */
.mdb-artwork-info {
	float: right;
}
.mdb-artwork-input-wrapper {
	margin-top: 5px;
}
#mdb-artwork-input {
	background-color: #444;
	color: #ddd;
	font-size: 12px;
	margin-right: 10px;
	width: calc( 100% - 7.5em - 10px );
}


/*
 * Toogle dur
 */
.mdb-durToggle-wrapper-parent {
	margin: 0 auto;
	text-align: center;
}
.mdb-fileDetails textarea {
	min-width: 18.5em;
}
pre#toggleApiText,
.mdb-fileDetails textarea {
	font-size: 12px !important;
	font-family: Consolas, monospace;
}