/*
 * Hide annoying stuff
 * only robust declarations
 */
.dashboard a.Facebook {
	display: none !important;
}

#mdbTrackidCheck-wrapper.integrated .hand {
    cursor: inherit !important;
}

/*
 * Font size of inserted elements weird
 * Buggy if set to body globally
 */
.mdb-menu-hl {
	font-size: 1rem;
}
.mdb-menu,
.mdb-tid-table th {
	font-size: .9rem;
}
.mdb-info,
.MuiDataGrid-cellContent:not(img),
td a.white-link,
#tlEditor {
	font-size: .85rem !important;
}

div[contenteditable="plaintext-only"] {
	font-family: monospace !important
}

/*
 * Quick links
 */
.user-name {
	display: none;
}
.mdb-quickLinks a {
	font-size: 1em !important;
	color: #fff;
	text-decoration: none;

	&:hover {
        cursor: pointer;
	    text-decoration: underline;
	}
}

.MuiDivider-root.MuiDivider-fullWidth {
    margin: 10px 00;
}

.mdb-menu-hl,
.mdb-menu {
    text-align: center;
}

/*
 * Tables
 */
table.mdb-tid-table {
    width: 100%;
    border-collapse: collapse;
    
    & tr {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }

    & tr:hover {
	    background-color: #272727; 
	}
	
    & th {
        padding: 0 5px;
    }
	
    & th,
    & td:not(.title) {
        text-align: center;
    }

    & td.AudioStreamType {
		width: 40px !important;

		& img {
            min-width: 25px !important;
            height: auto !important;
			padding-top: 5px;
			max-height: 2em;
		}
	}

	& td.status {
	    border-radius: 0;
	}

	& td.title {
        min-width: 200px;
        padding-left: 10px;
		
	    & .white-link {
	        white-space: inherit !important;
	    }
	}

	& td.channel {
	    padding-left: 10px;
	    padding-right: 10px;

		& img {
			min-width: 40px;
		}
	}

    & td.channel,
    & td.mdbTrackidCheck {
        text-align: center;
    }
    
    & img.mdb-checked-icon {
        width: 20px !important;
        height: auto;
        vertical-align: middle;
    }

    & td.mdbTrackidCheck {
    	& input {
		    -ms-transform: scale(1.4); /* IE */
		    -moz-transform: scale(1.4); /* FF */
		    -webkit-transform: scale(1.4); /* Safari and Chrome */
		    -o-transform: scale(1.4); /* Opera */
		    transform: scale(1.4);
		    margin-left: 1px; /* align with checked icon */
		}

		& .small {
		    font-size: 12px;
		    line-height: 1em !important;
		}
	}
}

/* hide unimportant columns on slim view */
@media (max-width: 1200px) {
    table.mdb-tid-table {
        & th#createdOn, td.createdOn,
        & th#addedBy, td.addedBy {
            display: none;
        }
    }
}
@media (max-width: 1600px) {
    table.mdb-tid-table {
        & th#channel, td.channel {
            display: none;
        }
    }
}

/*
 * Page navigation
 */
.MuiToolbar-regular .header-right {
	width: inherit !important;
}
.MuiTablePagination-toolbar,
.MuiTablePagination-toolbar > p,
.MuiTablePagination-toolbar > div {
	/* display: inline !important; */ /* AVOID FLASHING */
	position: inherit !important;
	padding-left: 0;
}

/*
 * Search on MixesDB icon link
 */
#mdb-searchLink-detailPage {
	padding-left: 13px;
}
.mdb-searchLink-list img {
	margin-top: 12px !important;
}
.mdb-searchLink-list.active,
.mdb-searchLink-list.visited,
.mdb-searchLink-list:visited  {
	opacity: .38;
}

/*
 * Player
 */
.mdb-player-audiostream {
	margin: 20px 0 -10px;
}

/*
 * Replaced search
 */
#mdb-replacedSearch {
	width: 100%;
	display: table;
}
#mdb-replacedSearch .mdb-element {
	min-height: 28px;
	display: table-cell;
}
#mdb-replacedSearch button {
	width: 70px;
	font-weight: bold;
}
#mdb-replacedSearch .replaced-search-input {
	width: calc( 100% - 75px - .5rem ); /* .5rem = .mdb-element padding */
}
