/*
 * Hide annoying stuff
 * only robust declarations
 */
.dashboard a.Facebook {
	display: none !important;
}

/*
 * Font size of inserted elements weird
 * Buggy if set to body globally
 */
.mdb-menu-hl {
	font-size: 1rem;
}
.mdb-menu,
.mdb-tid-table th {
	font-size: .9rem;
}
.mdb-info,
.MuiDataGrid-cellContent:not(img),
td a.white-link,
#tlEditor {
	font-size: .85rem !important;
}

div[contenteditable="plaintext-only"] {
	font-family: monospace !important
}

/*
 * Menu
 */
.mdb-menu-hl {
	padding: 0;
	margin: 20px 0 5px;
}
.mdb-menu a {
	font-size: 1em !important;
	color: #fff !important;
	text-decoration: none;
}

/*
 * Tables
 */
.mdb-tid-table td.AudioStreamType img {
	padding-top: 5px;
	max-height: 2em;
}

/*
 * Page navigation
 */
.MuiToolbar-regular .header-right {
	width: inherit !important;
}
.MuiTablePagination-toolbar,
.MuiTablePagination-toolbar > p,
.MuiTablePagination-toolbar > div {
	display: inline !important;
	position: inherit !important;
	padding-left: 0;
}

/*
 * Search on Mixes.wiki icon link
 */
#mdb-searchLink-detailPage {
	padding-left: 13px;
}
.mdb-searchLink-list img {
	margin-top: 12px !important;
}
.mdb-searchLink-list.active,
.mw-searchLink-list.visited,
.mdb-searchLink-list:visited  {
	opacity: .38;
}

/*
 * Player
 */
.mdb-player-audiostream {
	margin: 10px 0 -10px;
}

/*
 * Replaced search
 */
#mdb-replacedSearch {
	width: 100%;
	display: table;
}
#mdb-replacedSearch .mdb-element {
	min-height: 28px;
	display: table-cell;
}
#mdb-replacedSearch button {
	width: 70px;
	font-weight: bold;
}
#mdb-replacedSearch .replaced-search-input {
	width: calc( 100% - 75px - .5rem ); /* .5rem = .mdb-element padding */
}