/*
 * Hide annoying stuff
 * only robust declarations
 */
.dashboard a.Facebook {
	display: none !important;
}

/*
 * Font size of inserted elements weird
 * Buggy if set to body globally
 */
.mdb-menu-hl {
	font-size: 1rem;
}
.mdb-menu,
.mdb-tid-table th {
	font-size: .9rem;
}
.mdb-info,
.MuiDataGrid-cellContent:not(img),
td a.white-link,
#tlEditor {
	font-size: .85rem !important;
}

div[contenteditable="plaintext-only"] {
	font-family: monospace !important
}

/*
 * Menu
 */
.mdb-menu-hl {
	padding: 0;
	margin: 20px 0 5px;
}
.mdb-menu a {
	font-size: 1em !important;
	color: #fff !important;
	text-decoration: none;
}

/* Slim menu */
.MuiList-padding {
    padding: 0;
    margin: 0;
    
    && .MuiListItemIcon-root {
        display: none;
    }

    && .MuiSvgIcon-fontSizeMedium {
        margin: -10px 0;
    }
    
    && .MuiListItemButton-gutters {
        padding: 5px 0;
        
        && .MuiListItemText-secondary {
            padding: 5px 10px;
        }
    }
    
    && span {
        font-size: 13px;
    }
}

.MuiDivider-root.MuiDivider-fullWidth {
    margin: 10px 00;
}
    
.mdb-menu-hl {
    margin-top: -10px !important;
}

.mdb-menu-hl,
.mdb-menu {
    text-align: center;
}


/*
 * Tables
 */

table.mdb-tid-table {
    width: 100%;
    border-collapse: collapse;
    
    & tr {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    $ td.AudioStreamType {
		width: 34px;

		&& img {
			padding-top: 5px;
			max-height: 2em;
		}
	}

    & td.channel,
    & td.mdbTrackidCheck {
        text-align: center;
    }
    
    & img.mdb-checked-icon {
        width: 20px !important;
        height: auto;
    }
}


/*
 * Page navigation
 */
.MuiToolbar-regular .header-right {
	width: inherit !important;
}
.MuiTablePagination-toolbar,
.MuiTablePagination-toolbar > p,
.MuiTablePagination-toolbar > div {
	display: inline !important;
	position: inherit !important;
	padding-left: 0;
}

/*
 * Search on MixesDB icon link
 */
#mdb-searchLink-detailPage {
	padding-left: 13px;
}
.mdb-searchLink-list img {
	margin-top: 12px !important;
}
.mdb-searchLink-list.active,
.mdb-searchLink-list.visited,
.mdb-searchLink-list:visited  {
	opacity: .38;
}

/*
 * Player
 */
.mdb-player-audiostream {
	margin: 20px 0 -10px;
}

/*
 * Replaced search
 */
#mdb-replacedSearch {
	width: 100%;
	display: table;
}
#mdb-replacedSearch .mdb-element {
	min-height: 28px;
	display: table-cell;
}
#mdb-replacedSearch button {
	width: 70px;
	font-weight: bold;
}
#mdb-replacedSearch .replaced-search-input {
	width: calc( 100% - 75px - .5rem ); /* .5rem = .mdb-element padding */
}

/*
 * mdbTrackidCheck
 */
.mdb-mixesdbLink.history {
   margin-right: 5px;
}

#mdbTrackidCheck-wrapper {
    white-space: nowrap;
    
    & input {
        padding-top: 3px;
    }
    
    &.integrated label {
        color: lightgreen !important;
    }
    
}

