.mdbCueToggle {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #ccc !important;
    text-underline-offset: 2px;
    cursor: pointer;
    
    &:active {
        color: #f60;
    }
}