.sc-text-grey {
    color: #999;
}

.mdb-grey-light {
    color: #bbb;
}

#mdb-trackHeader h1 {
    margin-top: 10px;
}

#mdb-trackHeader-releaseInfo {
    margin-bottom: 8px;
}

#mdb-trackHeader-releaseInfo span+span {
    margin-left: 10px;
}

#mdb-trackHeader-releaseInfo date.highlight {
    color: green;
    font-weight: bold;
}

.listenEngagement {
    padding-bottom: 6px;
}

.listenEngagement__actions {
    padding-bottom: 8px;
}

button.mdb-toggle.selected,
a.sc_button-mdb:hover, a.sc_button-mdb:active {
    border-color: #f60;
}

.sc_button-mdb a {
    color: inherit;
}

#mdb-toggle-target>div {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #f2f2f2;
}

#apiText {
    white-space: break-spaces;
}

#mdb-fileDetails {
    padding-bottom: 16px !important;
}

#mdb-fileDetails textarea {
    width: 19em;
    font-family: monospace;
}

.sc-button-group {
    padding: 0 !important;
}

.sc-button-group {
    margin: 0 !important;
}

.sc-button-group *,
.sc-button-toolbar>.sc-button {
    margin-left: 0 !important;
    margin-right: 7px !important;
}

.listenArtworkWrapper {
    display: none;
}

.fullHero__artwork {
    width: 340px;
    height: 360px;
}

.fullHero__artwork * {
    width: 340px;
    height: 340px;
}

#mdb-artwork-input,
#mdb-artwork-info {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#mdb-artwork-input,
#mdb-artwork-info a {
    color: #fff;
    opacity: .5;
}

#mdb-artwork-info a {
    text-decoration: underline;
}

#mdb-artwork-input {
    overflow: hidden;
    width: calc(100% - 110px);
    padding-left: 3px;
    padding-right: 3px;
}

#mdb-artwork-info {
    width: 110px;
    text-align: right;
}

.mdb-artwork-input.selected {
    background-color: #fc0;
    color: #fff;
}

.listenEngagement__commentForm {
    margin: 0 0 -8px;
}

.userStream h3 {
    margin: 0 0 10px;
}

.infoStats__table td {
    vertical-align: bottom;
}

.sc-border-light-right:not(td),
.l-user-main {
    width: 100%;
    border-right: 0;
}

.l-sidebar-right {
    display: none;
}

.mdb-removeItem {
    text-align: center;
    margin: -2px 0 -10px 17px;
    padding-left: 1px;
    line-height: 1.7em;
    font-size: 18px;
    height: 30px;
    width: 30px;
    background-color: #f3f3f3;
    border-radius: 50%;
}

.mdb-removeItem:hover {
    color: #f60;
    background-color: #eee;
}

.soundList__item.processed {
    margin-right: -22px;
}

.soundList__item .soundTitle__tag,
.soundList__item .soundTitle__tag:hover {
    background-color: #ddd;
    border-color: #ddd;
}

.soundList__item {
    margin-bottom: 20px;
}

#mdb-streamActions {
    font-weight: 400 !important;
    margin-top: -5px;
    padding-bottom: 20px;
}

#mdb-streamActions h3 {
    display: inline;
}

#mdb-streamActions h3+h3 {
    margin-left: 15px;
}

.stream__list #mdb-streamActions h3 {
    color: #333
}

#mdb-streamActions h3,
#mdb-streamActions label {
    font-size: 16px;
}

#mdb-streamActions label input {
    margin: 0 6px 6px 0;
}

.fullListenHero {
    width: 100% !important;
}

.soundActions .mdb-tidSubmit img {
    max-height: 20px;
    margin-right: 0 !important;
}

/* "More" soundActions: indicate available download */
.mdb-fakeDlButton {
    margin-right: -1px !important; /* optical */
    padding-left: 20px;
}
.mdb-fakeDlButton:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+DQogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjAuMyAoNzg5MSkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPHRpdGxlPlJlY3RhbmdsZSAzMTwvdGl0bGU+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnMvPg0KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPg0KICAgICAgICA8cGF0aCBkPSJNMywxMSBMMywxMyBMMTMsMTMgTDEzLDExIEwzLDExIFogTTMsNCBMMTMsNCBMOCwxMCBMMyw0IFogTTYsMiBMNiw0IEwxMCw0IEwxMCwyIEw2LDIgWiIgaWQ9IlJlY3RhbmdsZS0zMSIgZmlsbD0icmdiKDM0LCAzNCwgMzQpIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIi8+DQogICAgPC9nPg0KPC9zdmc+DQo=);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 20px;
    height: 20px;
    left: 28px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.sc-button-more.sc-button-active .mdb-fakeDlButton:before {
    background-image: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAYAAADHyrhzAAAACXBIWXMAAC4jAAAuIwF4pT92AAAB/klEQVR4nO2awVHDMBBFvxkKoIS0QAekA7j4nkqADlICZ19CB0kHuISUkA7EIcnMH6PJsNKulMN/d1maP9K+tewhpQRx5qH3Au4JhUEoDEJhEAqDUBiEwiAem8wyDvvqZ0xp7bCSm7QJA3hpNE8VOiaEwiAUBqEwCIVBKAxiMN9njMMKwMo4T32fAVj7jCOmdLQMKO0zdgCeCseWYgn0BODZOoH9mJzTDu8GK1lbdwVQWjOmNAPYFI2NZ3NZn5nyAjqlLwDb4vExbC/rKsJeQJeMww7Aa91DXPjGlN5qHuCh1g2A2eE5NcxwOLb1OwO46vYH7Q0DXM1RUDCX+DRdfQ1TZI4cfh1oH8MUmyOHbzve1jBV5sjhUzOWxBum2hw5ol7UIg0zI+g4xuwMIMowJziZI0fcK3yMYdzMkSP2PsPXMK7myBF/ueNjGHdz5IirGUvKDRNijhwtr/1KDDOjYSPXbmcAVsOcEGiOHG0vhG2GCTVHjva34/8zTLg5cvT5VHDbME3MkaNtzVjy1zDNzJGj90ckNsyMzpfMfXcGcDXMHh0K5pL+YdwRvY/JXaEwCIVB2D88j8MHgHf3lfjziSl9WAZoZxAKg1AYhMIgFAahMAiFQZT84HbwXkQQB+sAvagROiaEwiAUBqEwCIVBKAxCYRAKg1AYhMIgFAbxC74opTCjRzdRAAAAAElFTkSuQmCC); /* orange icon doesn't exist in SC CSS > custom made */
}
