/* Explorer result title icons */
.explorerTitleIcon {
	padding-left: 5px;
}
.explorerTitleIcon.tidSubmit img {
	margin-top: -8px;
	height: 20px;
	width: auto;
}
.explorerTitleIcon.applePodcastsSearch img {
	margin-top: -8px;
	height: 17px;
	width: auto;
}
@media screen and (max-width:550px) {
	body.skin--responsive .monobook-body .explorerTitleIcon.tidSubmit img {
		margin-top: -2px;
		width: 17px !important;
	}
	body.skin--responsive .monobook-body .explorerTitleIcon img {
		margin-top: -2px;
		width: 15px !important;
	}
}

/* HOTFIX issue#478 */
@media screen and (max-width:550px) {
	body.skin--responsive .monobook-body .explorerTitleIcon.tidSubmit img {
		max-width: 17px !important;
	}
	body.skin--responsive .monobook-body .explorerTitleIcon img {
		max-width: 15px !important;
	}
}

/* Page title icons */
.pageIcon.applePodcastsSearch img {
	height: 18px;
	width: auto;
	padding-left: 5px;
}

/* playerWrapper TID links */
.playerWrapper .tidLink {
    text-align: right;
    
    & .mdb-checked-icon {
        height: 12px;
        width: auto !important;
        padding-left: 3px;
        padding-right: 4px;
    }
}

body.ns-0 .playerWrapper .tidLink {
    padding-top: 5px;
    height: 10px;
    margin-top: -10px;
    margin-bottom: -5px;
}

body.rootpage-MixesDB_Explorer {
    & .playerWrapper .tidLink {
        margin-top: -4px;
        margin-bottom: 3px;
    }
}