/* Wrapper */
.mdb-thelotradio-source-tracklist {
    display: block;
    width: 100%;
    max-width: 100%;
}

/* Layout container */
.mdb-thelotradio-tracklist-layout {
    box-sizing: border-box;
    display: block;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    
    /* Textarea */
    & .mdb-thelotradio-tracklist {
        & textarea {
            font-size: 13px;
            padding: .2rem 0 0 .2rem !important;
            margin: 0 0 -5px !important;
        }
    }

}
    
/* Normalizing */
* #tlEditor-feedback {
    border-radius: 0 !important;
    font-size: 13px !important;
    
    & ul {
        list-style: inherit;
        margin: 1rem .5rem !important;
        margin-block-start: inherit !important;
        margin-block-end: inherit !important;
    }
    
    & div ul {
        margin-top: .5rem !important;
    }
    
    & li:not(code),
    & strong {
        font-size: 13px;
        font-family: sans-serif;
    }
    & li:not(code) {
        font-weight: 600;
    }
}

#tlEditor-feedback-topInfo + div {
    margin-top: inherit !important;
}