.mdb-element.search {
	margin: 20px 30px 0;
}
.mdb-element.search * {
	font-size: 1.4rem;
}
.mdb-element.search input[type=submit] {
	width: 6em;
	margin-left: 10px;
}
.mdb-element.search input {
	padding: .5rem .75rem;
}
.mdb-element.search input[type=text] {
	width: calc( 100% - 6em - 10px );
}