/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Basics
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.mdb-hide {
    display: none !important;
}

.floatR {
    float: right;
}

.hand,
.mdb-toggle {
    cursor: pointer;
}

.mono {
    font-size: 12px !important;
    font-family: Consolas, monospace !important;
}

/*
 * Highlight color (orange)
 */
.mdb-highlight,
.mdb-highlight a,
.mdb-menu-hl {
    color: #f90 !important;
}
.mdb-darkorange,
.mdb-darkorange a {
    color: #f60 !important;
}

/*
 * Highlight warning
 */
.mdb-warning {
    color:crimson;
}

/*
 * nolist
 */
.mdb-nolist {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    
    & li {
        list-style: none;
        margin: 0;
    }
}

/*
 * links
 */
.mdb-domainIcon {
    max-height: 1em !important;
    padding: 0 .5em 0 0;
}
a.mdb-tidSubmit img.tidSubmit-icon {
    max-height: 1.3em !important;
    padding: 0 5px;
}

/*
 * Waiter animation
 */
waiter {
   animation: blink 1.5s infinite;
   animation-fill-mode: both;
}

@keyframes blink {
   0% { opacity: 0 }
   50% { opacity: 1 }
   100% { opacity: 0 }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Tooltip
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.mdb-tooltip {
    background-image: linear-gradient(to right, #f60 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    cursor: pointer;
}

.mdb-tooltip[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    background: #f60;
    padding: .25em .5em;
    transition: display 1s;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Elements
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.mdb-element {
    margin: 1rem 0;
    padding: .25rem .5rem;
}
.mdb-element.input:not(.inline) {
    display: block;
    width: 100%;
}
.mdb-element.input {
    padding: .25rem .5rem;
    font-family: monospace;
    font-size: 12px;
    border: 2px solid #fc6;
}
.mdb-element.note {
    background-color: #eee;
    color: #f60;
}
button.mdb-element {
    font-size: .9rem;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Tracklist output
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

textarea#mixesdb-TLbox,
textarea.mdb-tlBox,
textarea.mono {
    color: #111 !important;
}
#tlEditor-feedback-rows {
    font-weight: 600;
    background: hsla(0, 0%, 79%, 0.7);
    text-shadow: 1px 1px hsla(0, 0%, 39%, 0.5);
}
#tlEditor-feedback code {
    font-size: 12px !important;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Stream actions (filter options)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#mdb-streamActions {
    font-weight: 400 !important;
    margin-top: -5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    & h3 {
        display: inline;
    }

    & h3+h3 {
        margin-left: 15px;
    }

    & * {
        font-size: 1rem !important;
        font-weight: 700;
        color: #777;
    }

    & span,
    & label {
        padding-right: 1rem;
    }

    & label input {
        margin: 0 6px 6px 0;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Toolkit
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#mdb-toolkit {
    margin: 0 0 20px;
    border: 1px solid #f90;
    border-radius: 5px;
    padding: 0 5px 0 0;
    
    & legend {
        padding: 0 4px 0 3px !important;
        font-weight: bold !important;
        color: #f60;
        font-size: 13px;
        margin: 0 0 -.3em .75em;
    }

    & #mdb-toolkit_waiter {
        height: 90px;
    }
    
    & ul:not(.mdb-nolist) {
        padding-inline-start: 25px;
    }

    & ul {
        margin: .5rem 0;
    
        & li {
            margin: .3rem 0;
            
            & ul {
                margin: .33rem 0;
            }
        }
    }

    & a:hover {
        text-decoration: underline !important;
    }
}

/* nested lists */
#mdb-toolkit li ul:not(.mdb-nolist) {
    margin: .15rem 0 0 !important;
}
#mdb-toolkit li ul li {
    margin: 0 !important;
    list-style: none !important;
}

/* usage */
#mdb-toolkit .mdb-toolkit-usageLink.used {
    & .mdb-mixesdbLink-actionLinks-wrapper {
        margin-left: 7px;
        font-size: 12px !important;

        & a {
            text-decoration: none;
            border: 1px solid #555;
            border-radius: 2px;
            padding: 1px 4px;
            background-color: rgba(100,100,100,0.5);
            opacity: .62;
        }
        
        & a + a {
            margin-left: 5px
        }
        
        & a:hover {
            opacity: 1;
        }
    }
}

/* playerUrls items */
.mdb-toolkit-playerUrls-item {
    & .tidSubmit-icon {
        opacity: .33;
        margin-bottom: 4px;
    }

    & .tidSubmit-icon:hover {
        opacity: 1;
    }
}

/* embed URL */
.mdb-toolkit-embedUrl input {
    margin: -1px 0 -1px;
    padding: 1px 2px;
    line-height: 1em;
    width: auto;
}

/*
 * Domain specific rules
 */

/* 1001tracklists.com */
#mdb-toolkit.thousandandonetracklists-com {
    margin: 20px 0 15px 0;
    font-family: sans-serif;
    font-size: 1.1em;
    background-color: var(--box-color);
    padding: 1px 15px 5px 0;

    & legend {
        font-size: 13px;
    }

    & a.mdb-mixesdbLink.mixPage:link,
    & a.mdb-mixesdbLink.mixPage:active,
    & a.mdb-mixesdbLink.mixPage:visited {
        color: #f90 !important;
    }
}

/* groove.de */
#mdb-toolkit.groove-de {
    & > ul > li  ul  li * {
        display: inline !important;
        
        & .mdb-domainIcon {
            opacity: 1;
        }
    }
    
    & .tidSubmit-icon:not(:hover) {
        opacity: .33 !important;
    }
    
    & .tidSubmit-icon:hover {
        opacity: 1 !important;
    }
}

/* hearthis.at */
#mdb-toolkit.hearthis-at {
    margin: 0 20px 25px 20px;
    background-color: #222;
    
    & a {
        color: #7bf;
        font: sans-serif;
    }
    
    & legend {
        border: 0;
        width: inherit;
        font-size: 15px !important;
    }
}

/* mixcloud.com */
#mdb-toolkit.mixcloud-com {
    margin: -25px 0 30px;
    font-size: .875rem;
}

/* soundcloud.com */
#mdb-toolkit.soundcloud-com {
    & a:not(:visited) {
        color: #38d !important;
    }
    
    & a:active,
       a:visited {
           color: #33689f;
    }
    & a:hover {
        text-decoration: underline !important;
    }
}

/* toxicfamily.de */
#mdb-toolkit.toxicfamily-de {
    margin: -10px 0 40px;
}

/* trackid.net */
#mdb-toolkit.trackid-net {
    margin: 20px 0 10px;
    
    & legend {
        color: #f90;
        font-size: 15px !important;
    }

    & ul {
        font-size: 14px !important;
    }
    
    & li a {
        color: inherit;
    }
    
    & .mdb-mixesdbLink-actionLinks-wrapper {
        & a {
            color: #fff;
        }
    }
    
    & .mdb-toolkit-playerUrls-item {
        & a {
            color: var(--main-light);
            text-decoration: none;
        }
        & a:hover {
            text-decoration: underline;
        }

        & .tidSubmit-icon {
            margin-bottom: -4px;
        }
    }
}

/* wearesoundspace.com */
#mdb-toolkit.wearesoundspace-com {
    & > ul > li {
        margin: .15rem 0 !important;
    }
    & li {
        line-height: 1 !important;
    }
}

/* youtube.com */
#mdb-toolkit.youtube-com {
    margin: 25px 0 5px;
    background-color: var(--yt-spec-badge-chip-background);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    
    & legend {
        font-size: 1.6rem;
    }
    
    & li + li {
        margin-top: 10px !important;
    }
    
    & .mdb-toolkit-usageLink,
    & .mdb-toolkit-tidSubmit {
        & a:hover {
            cursor: pointer;
        }
        & a:not(:visited) {
            color: #fff;
        }
        & a:visited {
            color: #ccc;
        }
    }
}

/* Slim wrapper */
#mdb-toolkit.ra-co {
    & .mdb-toolkit-usageLink-intro {
        display: block;
    }
}


/*
 * mdbTrackidCheck
 */
.mdb-mixesdbLink.history {
   margin-right: 5px;
}

#mdbTrackidCheck-wrapper img.mdb-checked-icon {
    width: 13px;
    margin: 1px 5px -1px 5px;
}

#mdbTrackidCheck-wrapper {
    white-space: nowrap;
    
    & input {
        padding-top: 3px;
    }
    
    &.integrated label {
        color: #b3ff51 !important;
    }
    
}


/* 
 * Dark websites
 */
#mdb-toolkit.thousandandonetracklists-com,
#mdb-toolkit.trackid-net,
#mdb-toolkit.youtube-com {
    & a.mdb-mixesdbLink.mixPage:link,
    & a.mdb-mixesdbLink.mixPage:active,
    & a.mdb-mixesdbLink.mixPage:visited {
        color: #f90 !important;
    }
}

#mdb-toolkit.thousandandonetracklists-com,
#mdb-toolkit.hearthis-at,
#mdb-toolkit.trackid-net,
#mdb-toolkit.youtube-com {
    & .mdb-mixesdbLink-actionLinks-wrapper {
        & a:not(:visited) {
            color: #fff;
        }
        & a:visited {
            color: #ccc;
        }
    }

    /* inputs like embed URL */
    & input[type="text"] {
        border: 0;
        background-color: #555;
        color: #ccc;
    }
}

#mdb-toolkit.thousandandonetracklists-com,
#mdb-toolkit.mixcloud-com,
#mdb-toolkit.ra-co {
    & > ul > li {
        list-style: disc !important;
    }
}

/* 
 * tidSubmit icon on dark websites
 * hearthis.at: has the text link, not the icon
 * TrackId.net: No submit link needed
 */
#mdb-toolkit.thousandandonetracklists-com {
    .mdb-toolkit-playerUrls-item {
        & .tidSubmit-icon:not(:hover) {
            opacity: .66;
        }
    }
}

/* light / white websites */
#mdb-toolkit.groove-de,
#mdb-toolkit.ra-co,
#mdb-toolkit.wearesoundspace-com {
    & .tidSubmit-icon {
        margin-bottom: -3px !important;
    }
}

#mdb-toolkit.groove-de,
#mdb-toolkit.ra-co,
#mdb-toolkit.toxicfamily-de,
#mdb-toolkit.wearesoundspace-com {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #fcfcfc;

    & legend {
        font-size: 14px;
    }
    
    & a.mdb-mixesdbLink.mixPage  {
        background-color: inherit !important;
    }
    
    & a.mdb-mixesdbLink.mixPage:link,
    & a.mdb-mixesdbLink.mixPage:active,
    & a.mdb-mixesdbLink.mixPage:visited {
        color: #f60 !important;
    }
    
    & ul  {
        line-height: 1.33em;
    }
}

#mdb-toolkit.groove-de,
#mdb-toolkit.mixcloud-com,
#mdb-toolkit.ra-co,
#mdb-toolkit.soundcloud-com,
#mdb-toolkit.toxicfamily-de,
#mdb-toolkit.wearesoundspace-com {
    & .mdb-mixesdbLink-actionLinks-wrapper {
        & a,
        & a:visited {
            color: #555;
            font-size: 85% !important;
            padding: 0 4px 0 4px !important;
            line-height: 1 !important;
            border: 1px solid #ccc !important;
            background-color: rgba(100, 100, 100, 0.15) !important;
        }
        
        & a:hover {
            text-decoration: none !important;
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * OS lightmode fixes
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-color-scheme: light) {
    
    /* hearthis.at */
    body.hearthis-at {
        & .content-layer-content {
            background: inherit;
            color: #fff;
        }
        
        & #mdb-toolkit.hearthis-at {
            background-color: transparent !important;
            
            & a {
                color: #7cf;
            }
        }
    }
}
