/*
 * Basics
 */
.mdb-hide {
	display: none !important;
}

.floatR {
	float: right;
}

.hand,
.mdb-toggle {
    cursor: pointer;
}

/*
 * Highlight color (orange)
 */
.mdb-highlight,
.mdb-highlight a,
.mdb-menu-hl {
	color: #f90 !important;
}
.mdb-darkorange,
.mdb-darkorange a {
	color: #f60 !important;
}

/*
 * Highlight warning
 */
.mdb-warning {
    color:crimson;
}


/*
 * nolist
 */
.mdb-nolist {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}
.mdb-nolist li {
	list-style: none;
	margin: 0;
}


/*
 * Elements
 */
.mdb-element {
	margin: 1rem 0;
	padding: .25rem .5rem;
}
.mdb-element.input:not(.inline) {
	display: block;
	width: 100%;
}
.mdb-element.input {
	padding: .25rem .5rem;
	font-family: monospace;
	font-size: 12px;
	border: 2px solid #fc6;
}
.mdb-element.note {
	background-color: #eee;
	color: #f60;
}
button.mdb-element {
	font-size: .9rem;
}


/*
 * Tracklist output
 */
textarea#mixesdb-TLbox,
textarea.mdb-tlBox,
textarea.mono {
	font-size: 12px !important;
	font-family: Consolas, monospace !important;
	color: #111 !important;
}
#tlEditor-feedback-rows {
	font-weight: 600;
	background: hsla(0, 0%, 79%, 0.7);
	text-shadow: 1px 1px hsla(0, 0%, 39%, 0.5);
}
#tlEditor-feedback code {
	font-size: 12px !important;
}
