/*
 * Toggle file details
 */

#mdb-fileInfo {
	margin-right: 8px !important;
	color: #f1f1f1;
	border-color: transparent;
	border-radius: 18px;
	padding: 0 16px;
	height: 36px;
	font-size: 14px;
	line-height: 32px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	min-width: 0;
	text-transform: none;
	font-family: "Roboto","Arial",sans-serif;
	font-weight: 500;
	background: rgba(255, 255, 255, 0.1);
}
#mdb-fileInfo:hover {
	background: rgba(255,255,255,0.2);
}

#mdb-fileDetails {
	display: block;
	width: 100%;
	margin: 20px auto 0;
	text-align: center;
	
	& textarea {
		width: 170px;
		font-size: 12px;
		line-height: 1.4em;
		font-family: monospace;
		background: rgba(255,255,255,0.9);
	}
}


/*
 * Image link
 */

.mdb-thumbImgLink-wrapper {
	margin-top: 20px;
	padding-left: 0;
	
	&& img {
		max-height: 90px;
		border: 1px solid lightskyblue;
	}
}