/*
 * Sticky toolbar on profile/stream pages
 */
#mdb-streamActions {
    position: sticky;
    top: 0;
    z-index: 3000; /* stays above SC header shadows */
    background: var(--button-secondary-background-color, #303030); /* SC default */
    border-radius: 4px; /* SC default */
    padding: 10px 15px;
    border-bottom: 4px solid #aaaaaa70;
}
/* ensure the following content doesn't overlap */
div.stream__list {
    margin-top: 10px;
}

/* Hide filtered players */
html.sc-hide-short-active [data-sc-too-short="1"],
html.sc-hide-short-active [data-sc-too-few-favs="1"] {
    display: none !important;
}
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
html.sc-hide-short-active [data-sc-too-short="1"] {
    display: none !important;
}

.mdb-streamActions-group + .mdb-streamActions-group {
    margin-left: 1.5em;
}

/* Preferred container spacing */
#mdb-streamActions-filter {
    margin-top: 6px;
    
    & input[type="number"] {
        width: 3.5em;
    }

    & .mdb-darkorange {
        padding-right: .74rem !important;
    }

    & span.value {
        display: inline-block;
        min-width: 2em !important;      /* enough for up to 3 digits (e.g. "180") */
        text-align: right;
        margin-right: .25em;
    }
    & span.value.sc-min-favs-val {
        min-width: 2.5em !important;
    }
    
    & #sc-hide-short-checkbox {
        margin-top: 3px;
    }
    
    & input[type=range] {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin: -4px 2px;
        width: 100px !important;
    }
}

/* fallback / precise styling for WebKit */
input[type=range]::-webkit-slider-runnable-track {
    background: inherit;
    height: 4px;
    border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #007aff !important;          /* iOS / macOS system blue */
    border: 2px solid #fff;       /* white ring for contrast */
    margin-top: -4px;             /* vertically center thumb */
    cursor: pointer;
}
    
/* TEMP BETA Fallback layout when not inside #mdb-streamActions */
body.sc-hideShortTracks-fallback {
    && #mdb-streamActions-filter {
        margin: 0 auto;
        text-align: center;
    }
    
    #sc-hide-short-checkbox {
        margin-bottom: 3px;
    }
    
    && #content {
        margin-top: 30px !important;
    }
    
    && .userDropbar {
        padding-top: 32px !important;
    }
}